.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  font-weight: 600;
  border: none;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    box-shadow: inset 0 0 0 2px #666;
  }

  &.control {
    color: #fff;
    font-size: 12px;
    background: #ff57a2;

    &:hover {
      box-shadow: none;
    }
  }

  &.selected {
    color: #ff57a2;
    filter: opacity(1) !important;
  }

  &:last-of-type {
    margin-right: 0;
    border-right: none;
  }

  &:disabled {
    cursor: not-allowed;
    filter: opacity(0.5);
  }
}
