.label {
  .labelText {
    display: flex;
    align-items: center;
    height: 44px;
    font-weight: bold;
    font-size: 14px;
    padding-left: 8px;
  }

  .input {
    width: 100%;
    height: 44px;
    line-height: 44px;
  }

  .inputError {
    padding-left: 8px;
    margin-top: 10px;
    color: red;
  }
}
