@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

.container {
  display: flex;
  flex-flow: column;
  align-items: center;

  @media screen and (max-width: map_get($grid_breakpoints, md)) {
    padding: 0;
  }

  .ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .sortIcon {
    margin-left: 3px;
  }

  .expandedContent {
    cursor: default;
    background: #575757;


    &:hover {
      color: #fff !important;
    }

    .content {
      display: flex;
      align-items: center;
      max-height: 120px;
      padding: 10px;
      white-space: pre-wrap;

      .description {
        margin-left: 20px;
        overflow: hidden;
        text-align: left;
      }
    }
  }
}
