.header {
  position: fixed;
  z-index: 100;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 60px;
  padding-right: 8px;
  background-color: #2b2b2b;

  .nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  .navList {
    display: flex;

  }

  .navItem {
    display: flex;
    align-items: center;
    margin: 0 8px;
  }

  .navLink {
    display: inline-block;
    padding: 0 16px;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.1px;
    text-decoration: none;
    background-color: transparent;
  }

  .navLink:hover,
  .navLinkActive {
    color: #14cc76;
    transition: color 0.3s linear;
  }
}
