@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";

.container {
  display: flex;
  flex-flow: column;
  flex: 1 1 100%;
  justify-content: center;
  max-width: 780px;
  color: #fff;

  .title {
    display: flex;
  }
}
